html, body {
  height: 100%;
  width: 100%;
}

.header {
  background-color: black;
  text-align: center;
  padding: 60px;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }

*{
  box-sizing:border-box;
}
.header h1 {
  font-size: 40px;
}
.header p{
  font-size: 20px;
}

.navbar {
  overflow: hidden;
  background-color: black;

}
.home {
  background-color: black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  padding: 1000px;
}

body {
  font-family:"Courier New", monospace;
  margin: 0;
}

.navbar a{
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20 px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: #152238;
  color: white;
}

.row {
  display: flex; 
  flex-wrap: wrap;
  padding: 20px;
}


.middle-column {
  flex: 50%;
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.im {
  position: relative;
  float: center;
}

.image_overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 97%;
  background: rgba(0,0,0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image_overlay-blur {
  backdrop-filter: blur(5px);
}

.image_overlay:hover {
  opacity:1;
}

.image_overlay > * {
  transform: translateY(50px);
  transition: transform 0.5s;
}

.image_overlay:hover > * {
  transform: translateY(0);
}
.

