html, body {
  height: 100%;
  width: 100%;
}

.header {
  background-color: black;
  text-align: center;
  padding: 60px;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }

*{
  box-sizing:border-box;
}
.header h1 {
  font-size: 80px;
  padding: 50px;
}
.header p{
  font-size: 40px;
  padding: 50px;
}

.header p1{
  font-size: 20px;
  padding: 50px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  font-size: 33px;

}
.navhead {
  overflow: hidden;
  background-color: black;
  font-size: 25px;
  text-align: center;
}

.navhead a{
  float: center;
  display: line;
  color: white;
  padding: 50px;
  text-decoration: none;
}

.navhead a:hover{
  font-size: 28px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.home {
  background-color: black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  padding: 1000px;
  
}

body {
  font-family:"Courier New", monospace;
  margin: 0;
  
}

.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 50px;
  text-decoration: none;
  text-orientation:upright;
  writing-mode: vertical-rl;
  margin-left: 50px;
  margin-right: 50px;
}

.navbar a:hover{
  font-size: 35px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
}



.row {
  display: flex; 
  flex-wrap: wrap;
  padding: 20px;
    background-color: black;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


.middle-column {
  flex: 50%;
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.im {
  position: relative;
  float: center;
}
.img-box img {
  display: block;
  width: auto;
  height: auto;
}

.image_overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 96%;
  background: rgba(0,0,0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image_overlay-blur {
  backdrop-filter: blur(5px);
}


.image_overlay:hover {
  opacity:1;
}

.image_overlay > * {
  transform: translateY(50px);
  transition: transform 0.5s;
}

.image_overlay:hover > * {
  transform: translateY(0);
}
.footer{
  background-color:#1e001e;
  padding: 40px;
}


.left-column {
  flex: 30%;
 justify-content: space-evenly;
  background-color: black;
  padding: 40px;
  color: white;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

}

.about{
  flex: 50%;
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.about h1{
  font-size: 50px;
  padding: 50px;
}
.about p{
  font-size:24px;
}

/* Here using -webkit, we make angle
of 45 degree of falling star */
.sky {

  background-color:black;

  background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent     40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  
width: 100%;
height: 100%;
display: -webkit-flex;

}

/* Here we are making roundabout balls */
.star {

position: absolute;
left: 50%;
top: 50%;
height: 2px;
border-radius: 885px;
background: linear-gradient(-45deg,
	#eef0f5, rgba(0, 0, 255, 0));

-webkit-filter: drop-shadow(0 0 6px #eef1f8);
filter: drop-shadow(0 0 6px #d7dff0);
-webkit-animation: tail 5000ms ease-in-out infinite,
	shooting 5000ms ease-in-out infinite;
animation: tail 5000ms ease-in-out infinite,
	shooting 5000ms ease-in-out infinite;
}

/* Here we add before and after effect to star */
.star::before,
.star::after {
content: "";
position: absolute;
top: calc(50% - 1px);
right: 0;
height: 2px;
background: linear-gradient(
	-45deg,
	rgba(0, 0, 255, 0),
	#eaeef8,
	rgba(0, 0, 255, 0)
);
-webkit-transform: translateX(50%) rotateZ(45deg);
transform: translateX(50%) rotateZ(45deg);
border-radius: 100%;
-webkit-animation: shining 3000ms ease-in-out infinite;
animation: shining 3000ms ease-in-out infinite;

}
.star::after {

-webkit-transform: translateX(50%) rotateZ(-45deg);
transform: translateX(50%) rotateZ(-45deg);

}

/* Here we are adding location of each
nth-child, animations, delays, and
before and after effects to each
and every balls(stars) */
.star:nth-child(1) {
top: calc(30% - -70px);
left: calc(70% - 12px);
-webkit-animation-delay: 4000ms;
animation-delay: 4000ms;
}
.star:nth-child(1)::before,
.star:nth-child(1)::after {
-webkit-animation-delay: 4000ms;
animation-delay: 4000ms;
}
.star:nth-child(2) {
top: calc(50% - -43px);
left: calc(50% - 37px);
-webkit-animation-delay: 5000ms;
animation-delay: 5000ms;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
-webkit-animation-delay: 5000ms;
animation-delay: 5000ms;
}
.star:nth-child(3) {
top: calc(70% - -40px);
left: calc(30% - 1000px);
-webkit-animation-delay: 7000ms;
animation-delay: 7000ms;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
-webkit-animation-delay: 7000ms;
animation-delay: 7000ms;
}
.star:nth-child(4) {
top: calc(90% - -29px);
left: calc(10% - 113px);
-webkit-animation-delay: 7000ms;
animation-delay: 7000ms;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
-webkit-animation-delay: 7000ms;
animation-delay: 7000ms;
}
.star:nth-child(5) {
    opacity: 0.5;
top: calc(40% - 180px);
left: calc(60% - 290px);
-webkit-animation-delay: 3000ms;
animation-delay: 3000ms;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
-webkit-animation-delay: 3000ms;
animation-delay: 3000ms;
}
.star:nth-child(6) {
opacity: 0.5;
top: calc(55% - -108px);
left: calc(45% - 160px);
-webkit-animation-delay: 3000ms;
animation-delay: 3000ms;
}
.star:nth-child(6)::before,
.star:nth-child(6)::after {
-webkit-animation-delay: 3000ms;
animation-delay: 3000ms;
}
.star:nth-child(7) {
opacity: 0.5;
top: calc(20% - 52px);
left: calc(80% - 72px);
-webkit-animation-delay: 7000ms;
animation-delay: 7000ms;
}
.star:nth-child(7)::before,
.star:nth-child(7)::after {
-webkit-animation-delay: 7000ms;
animation-delay: 7000ms;
}

/* This code will help to generate
effect in tail of star */
@keyframes tail {
0% {
	width: 0;
}
30% {
	width: 100px;
}
100% {
	width: 0;
}
}

/* This code will generate shining
effect in head of star */
@keyframes shining {
0% {
	width: 0;
}
50% {
	width: 30px;
}
100% {
	width: 0;
}
}

/* Here we are adding webkit-animation
to head of star for shining */
@-webkit-keyframes shining {
0% {
	width: 0;
}
50% {
	width: 30px;
}
100% {
	width: 0;
}
}

/* Here we are adding webkit-animation
to tail of star */
@-webkit-keyframes tail {
0% {
	width: 0;
}
30% {
	width: 100px;
}
100% {
	width: 0;
}
}

/* Here we are adding webkit-animation
for shooting effect */
@-webkit-keyframes shooting {
0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
100% {
	-webkit-transform: translateX(70px);
	transform: translateX(70px);
}
}

/* Here we make shooting effect */
@keyframes shooting {
0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
100% {
	-webkit-transform: translateX(270px);
	transform: translateX(270px);
}
}










